:root {
    --text-color: rgb(255, 255, 255);
    --secondary-text-color: rgba(61, 216, 0, 0.726);
}

* {
    box-sizing: border-box;
}

/* Background Image settings */
.bkgd-img {
    min-height: 100%;
    /* Image from unsplash.com by Marcus Lofvenburg */
    background-image: url("../images/u-crescent-moon4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    /*filter: brightness(50%);*/
}
    
/*.text-color {
    
}*/

body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
}

header {
    /* element display */
    display: flex;
    justify-content: space-between;
    /* element color/texture */
    color: var(--text-color);
    margin: 15px 15px;
}

header h1 {
    padding: 0 15px;
}

header nav {
    margin: 10px 0;
    
}

header nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

header nav ul li a {
    padding: 0 15px;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 20px;
}

.space {
    padding: 100px;
    display: block;
}

.space, .section {
    color: var(--text-color);
}

.section-border {
    
}

.about-me {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid var(--secondary-text-color);
}

.about-me h2 {
    border-right: 3px solid var(--secondary-text-color);
    margin: auto 0px;
    padding-right: 3px;
    font-size: 30px;
}

.about-me p {
    display: flex;
    align-items: center;
    border-right: 3px solid var(--secondary-text-color);
    margin: auto 20px;
    padding-left: 10px;
    padding-right: 2px;
    width: 40%;
    font-size: 20px;

}



.about-me img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 625px;
    border-radius: 5%;
    margin: 15px 10px;
}


.footer-start {
    color: var(--secondary-text-color);
}