:root {
    --text-color: rgb(255, 255, 255);
}

html {
    min-height: 100%;
    background-image: url("../images/u-crescent-moon.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover cover;
    /*filter: brightness(50%);*/
}
    


body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    color: var(--text-color);
    margin: 15px 15px;
}